<!--<form [formGroup]="orderForm" method="post" (submit)="orderCreate()">-->
<!--  <input type="Date" formControlName="startTime" id="startTime" name="startTime">-->
<!--  <input type="Date" formControlName="endTime" id="endTime" name="endTime">-->
<!--  <button type="submit">tạo mới order</button>-->
<!--</form>-->
<app-navbar></app-navbar>
<div id="booking">
  <div class="container">
    <div class="section-header">
      <h2>Room Booking</h2>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="booking-form">
          <div id="success"></div>
          <form [formGroup]="orderForm" method="post" (submit)="orderCreate()">
            <div class="alert " [ngClass]="status.code === '0000' ? 'alert-info' : 'alert-danger'"
                 *ngIf="status.code">{{status.message}}</div>
            <div class="form-row">
              <div class="control-group col-sm-6">
                <label>Full Name</label>
                <input type="text" class="form-control" formControlName="name" id="name" name="name"
                       placeholder="name.." required="required"
                       data-validation-required-message="Please enter first name"/>
                <div *ngIf="name?.invalid && (name?.dirty || name?.touched)"
                     class="" style="color: red">

                  <div *ngIf="name?.errors?.['required']">
                    Name cannot be left blank!
                  </div>
                  <div *ngIf="name?.errors?.['maxlength']">
                    Username must have maximum 30 characters!
                  </div>
                </div>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="form-row">
              <div class="control-group col-sm-6">
                <label>Mobile</label>
                <input type="text" class="form-control" formControlName="phone" id="phone" name="phone"
                       placeholder="phone.."
                       required="required" data-validation-required-message="Please enter your mobile number"/>
                <div *ngIf="phone?.invalid && (phone?.dirty || phone?.touched)"
                     class="" style="color: red">

                  <div *ngIf="phone?.errors?.['required']">
                    Phone cannot be left blank!
                  </div>
                  <div *ngIf="phone?.errors?.['maxlength']">
                    Phone number must have 10 characters!
                  </div>
                  <div *ngIf="phone?.errors?.['minlength']">
                    Phone number must have 10 characters!
                  </div>
                </div>
                <p class="help-block text-danger"></p>
              </div>
              <div class="control-group col-sm-6">
                <label>Email</label>
                <input type="text" class="form-control" formControlName="email" id="email" name="email"
                       placeholder="email@example.com"
                       required="required" data-validation-required-message="Please enter your email"/>
                <div *ngIf="email?.invalid && (email?.dirty || email?.touched)"
                     class="" style="color: red">

                  <div *ngIf="email?.errors?.['required']">
                    Email cannot be left blank!
                  </div>
                  <div *ngIf="email?.errors?.['email']">
                    Email invalidate!
                  </div>

                </div>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="form-row">
              <div class="control-group col-sm-6">
                <label>Check-In</label>
                <input type="Date" class="form-control datetimepicker-input" formControlName="startTime" id="startTime"
                       name="startTime" data-toggle="datetimepicker"
                       data-target="#date-1" placeholder="E.g. MM-DD-YYYY" required="required"
                       data-validation-required-message="Please enter date"/>
                <p class="help-block text-danger"></p>
              </div>
              <div class="control-group col-sm-6">
                <label>Check-Out</label>
                <input type="Date" class="form-control datetimepicker-input" formControlName="endTime" id="endTime"
                       name="endTime" data-toggle="datetimepicker"
                       data-target="#date-2" placeholder="E.g. MM-DD-YYYY" required="required"
                       data-validation-required-message="Please enter date"/>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="form-row">
              <div class="control-group col-sm-6">
                <label>Adult</label>
                <!--                <select class="custom-select" id="adult" required="required" data-validation-required-message="Please select one"/>-->
                <select style="margin-left: 10px;border-radius: 10px" formControlName="adult" id="adult" name="adult">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                </select>
                <div *ngIf="adult?.invalid && (adult?.dirty || adult?.touched)"
                     class="" style="color: red">

                  <div *ngIf="adult?.errors?.['required']">
                    Adult cannot be left blank!
                  </div>
                </div>
                <p class="help-block text-danger"></p>
              </div>
              <div class="control-group col-sm-6">
                <label>Children</label>
                <!--                <select class="custom-select" id="kid" required="required" data-validation-required-message="Please select one"/>-->
                <select style="margin-left: 10px;border-radius: 10px" formControlName="kis" id="kis" name="kis">
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                </select>
                <div *ngIf="kis?.invalid && (kis?.dirty || kis?.touched)"
                     class="" style="color: red">

                  <div *ngIf="kis?.errors?.['required']">
                    Kis cannot be left blank!
                  </div>
                </div>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <label>Special Request</label>
              <input type="text" class="form-control" formControlName="request" id="request" name="request"
                     placeholder="Special Request"
                     required="required" data-validation-required-message="Please enter your special request"/>
              <div *ngIf="request?.invalid && (request?.dirty || request?.touched)"
                   class="" style="color: red">

                <div *ngIf="request?.errors?.['maxlength']">
                  Request number must have 1000 characters!
                </div>
              </div>
              <p class="help-block text-danger"></p>
            </div>
            <div class="button">
              <button type="submit" id="bookingButton">Book Now</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<app-fotter></app-fotter>
