<app-navbar></app-navbar>
<div id="rooms">
  <div class="container">
    <div class="section-header">
      <h2>House Information</h2>
      <p>
        Always evolving, Always changing
      </p>
    </div>

    <div>
    </div>
    <br>
    <div class="row">

      <div class="col-md-12 room">
        <div class="row">
          <div class="col-md-6">
            <owl-carousel-o [options]="customOptions">
              <ng-container *ngFor="let slide of house.images">
                <ng-template carouselSlide>
                  <img [src]="slide.image" [alt]="house.name" [title]="house.name" height="400"
                       style="border-radius: 30px; margin-top: 30px">
                </ng-template>
              </ng-container>
            </owl-carousel-o>
            <!--            <div class="room-img">-->
            <!--              <img src="{{item.avatarHouse}}" style="width: 600px;height: 450px">-->
            <!--            </div>-->
          </div>
          <div class="col-md-6">
            <div class="room-des">
              <h3>{{house.name}}</h3>
              <h1>{{house.price}}(USD)<span>/ Night</span></h1>
              <ul class="room-size">
                <li><i class="fa fa-arrow-right"></i>Bedroom: {{house.bedroom}} </li>
                <li><i class="fa fa-arrow-right"></i>Bathroom: {{house.bathroom}} </li>
                <li><i class="fa fa-arrow-right"></i>Address: {{house.address}} </li>
                <li><i class="fa fa-arrow-right"></i>Category: {{house.category.name}} </li>
              </ul>
              <ul>
                <p><i></i></p>
              </ul>
              <ul class="room-icon">
                <li class="icon-1"></li>
                <li class="icon-2"></li>
                <li class="icon-3"></li>
                <li class="icon-4"></li>
                <li class="icon-5"></li>
                <li class="icon-6"></li>
                <li class="icon-7"></li>
                <li class="icon-8"></li>
                <li class="icon-9"></li>
                <li class="icon-10"></li>
              </ul>
              <div class="form-comment" style="width: 500px; height: 500px;border:1px">
                <div style="height: 300px;width: 600px;overflow: auto; margin-top: 20px; border: 1px">
                  <div class="d-flex flex-column col-md-8" style="margin-top: 15px" *ngFor="let item of comment" >
                    <div class="d-flex flex-row align-items-center commented-user" style="width: 500px">
                      <img src="{{item.user.avatar}}" alt=""
                           style="border-radius: 50%; width: 40px;height: 40px; margin-right: 15px"><h5
                      class="mr-2" style="font-size: 1rem">{{item.user.username}} :<span
                      style="margin-left: 12px">{{item.description}}</span></h5></div>
                  </div>
                </div>
                <form [formGroup]="commentForm" (ngSubmit)="add()">
                  <div>
                      <textarea type="text" class="form-control mr-3" placeholder="Comment"
                                formControlName="description"
                                style="height: 40px;max-width: 100%;width: 500px; margin-top: 10px"></textarea>
                  </div>
                  <div>
                    <button style="margin-left: 400px;margin-top: 10px; border-radius: 10px">
                      Comment
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


