<!--<h1>Thông tin chi tiết sản phẩm</h1>-->
<!--<form [formGroup]="houseForm">-->
<!--  <table>-->
<!--    <tr>-->
<!--      <td>Tên sản phẩm:</td>-->
<!--      <td><div type="text" formControlName="name"></div></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>Giá sản phẩm</td>-->
<!--      <td><input type="number" formControlName="price"></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>Loại</td>-->
<!--      <td>-->
<!--        <select type="text" formControlName="categoryId">-->
<!--          <option *ngFor="let category of listCategory" [value]="category.id">-->
<!--            {{category.name}}-->
<!--          </option>-->
<!--        </select>-->
<!--      </td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td></td>-->
<!--      <td><button>Cập nhật</button></td>-->
<!--    </tr>-->
<!--  </table>-->
<!--</form>-->




<h1>Infomation House</h1>
<table class="table table-striped table-dark">
  <thead>
  <tr>
<!--    <th scope="col">No.</th>-->
    <th scope="col">Name</th>
    <th scope="col">Address</th>
    <th scope="col">Bedroom</th>
    <th scope="col">Bathroom</th>
    <th scope="col">Description</th>
    <th scope="col">Price</th>
    <th scope="col">Category</th>
  </tr>
  </thead>
  <tbody>
  <tr>
<!--    <th scope="row">{{house.id}}</th>-->
    <td>{{house.name}}</td>
    <td>{{house.address}}</td>
    <td>{{house.bedroom}}</td>
    <td>{{house.bathroom}}</td>
    <td>{{house.description}}</td>
    <td>{{house.price}}</td>
    <td>{{house.category.name}}</td>
  </tr>
  <tr *ngFor="let img of images">
    <img src="{{img.image}}">
  </tr>

  <tr>
    <div class="d-flex flex-column col-md-8" *ngFor="let item of comment">

      <div class="d-flex flex-row align-items-center commented-user">
        <h5 class="mr-2">{{item.user.username}}</h5></div>
      <div class="comment-text-sm"><span>{{item.description}}</span></div>

    </div>
  </tr>

  </tbody>
</table>

<!--<app-comment-list></app-comment-list>-->

<app-comment-create></app-comment-create>
