<!-- Header Section Start -->
<header id="header" *ngIf="!isLogin">
  <a routerLink="/" class="logo"><img src="../assets/img/logo.png" alt="logo"></a>

  <div class="mobile-menu-btn"><i class="fa fa-bars"></i></div>
  <nav class="main-menu top-menu">
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a href="about.html">About Us</a></li>
      <li><a href="booking.html">Booking</a></li>
      <li><a href="">Contact Us</a></li>
    </ul>
  </nav>
  <div class="login" routerLink="/login">Login</div>
</header>


<!-- Header Section Start -->
<header id="header" *ngIf="isLogin">
  <a routerLink="/" class="logo"><img src="../assets/img/logo.png" alt="logo"></a>

  <div class="phone btn">
    <img src="{{img}}" style=" border-radius: 50%; margin-right: 5px;width: 40px;height: 40px">
    <a nz-dropdown [nzDropdownMenu]="menuLogin" class="confirm" style="color: #00CED1">
      {{USERNAME}}
      <i nz-icon nzType="down"></i>
    </a>
    <nz-dropdown-menu #menuLogin="nzDropdownMenu">
      <ul nz-menu nzSelectable style="margin-top: 20px; margin-left: -10px">
        <li nz-menu-item [routerLink]="['/update-profile',userId]">Edit Profile</li>
        <li nz-menu-item [routerLink]="['/update-password',userId]">Password Change</li>
        <li nz-menu-item (click)="logOut()">Logout</li>
      </ul>
    </nz-dropdown-menu>
  </div>

  <!--  <div style="margin-top: -7px" class="phone btn dropdown-toggle" data-toggle="dropdown" type="" data-bs-toggle="dropdown"-->
  <!--       aria-expanded="false" ><img src="{{img}}" style=" border-radius: 50%; margin-right: 18px;width: 40px;height: 40px " ><a-->
  <!--    style="color: #00CED1">{{USERNAME}}</a>-->
  <!--    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2" >-->
  <!--      <li>-->
  <!--        <a class="btn btn-transparent text-uppercase font-size-3 heading-default-color focus-reset" [routerLink]="['/update-profile',userId]" >-->
  <!--          Edit Profile-->
  <!--        </a>-->
  <!--      </li>-->
  <!--      <li>-->
  <!--        <a class="btn btn-transparent text-uppercase font-size-3 heading-default-color focus-reset" [routerLink]="['/update-password',userId]">-->
  <!--          Edit Profile-->
  <!--        </a>-->
  <!--      </li>-->
  <!--      <li>-->
  <!--        <a class="btn btn-transparent text-uppercase font-size-3 heading-default-color focus-reset" (click)="logOut()" >-->
  <!--          Logout-->
  <!--        </a>-->
  <!--      </li>-->
  <!--    </ul>-->
  <!--  </div>-->

  <!--  <div class="phone"><img src="{{img}}" style="width: 40px; height: 40px; border-radius: 50%" alt=""><i class="fa fa" [routerLink]="['/update-profile',userId]">{{USERNAME}}</i>-->
  <!--  </div>-->
  <div class="mobile-menu-btn"><i class="fa fa-bars"></i></div>
  <nav class="main-menu top-menu" style="background-color: #545454">
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a [routerLink]="['/findTop']">Top Five Order </a></li>

      <li>
        <a nz-dropdown [nzDropdownMenu]="menuApartment" class="confirm" style="color: #00CED1">
          Apartment
          <i nz-icon nzType="down"></i>
        </a>
        <nz-dropdown-menu #menuApartment="nzDropdownMenu">
          <ul nz-menu nzSelectable>
            <li nz-menu-item [routerLink]="['/myhouse/list']">My Apartment</li>
            <li nz-menu-item [routerLink]="['/myhouse/create']">Create House</li>
            <li nz-menu-item [routerLink]="['/orderlist']">History</li>
          </ul>
        </nz-dropdown-menu>
      </li>


      <li><a [routerLink]="['/contactus']">Contact Us</a></li>

      <a nz-dropdown [nzDropdownMenu]="menu" class="confirm" style="color: #00CED1">
        <i class='bx bx-bell bx-tada bx-flip-horizontal'
           style="color: #00CED1; font-size: 20px;margin-left: 10px;cursor: pointer">({{message.length}})</i>
        <i nz-icon nzType="down"></i>
      </a>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu nzSelectable *ngFor="let m of message; index as i ">
          <li nz-menu-item (click)="delete(m.id)">{{m.house.name}} : Hired</li>
        </ul>
      </nz-dropdown-menu>
    </ul>
  </nav>
</header>
