<!-- Header Section Start -->
<header id="header" *ngIf="!isLogin">
  <a href="index.html" class="logo"><img src="../assets/img/logo.png" alt="logo"></a>
  <div class="phone"><i class="fa fa-user-circle"></i></div>
  <div class="mobile-menu-btn"><i class="fa fa-bars"></i></div>
  <nav class="main-menu top-menu">
    <ul>
      <li class="active"><a routerLink="/">Home</a></li>
      <li><a href="about.html">About Us</a></li>
      <li><a href="room.html">Apartments</a></li>
      <li><a href="amenities.html">Amenities</a></li>
      <li><a href="booking.html">Booking</a></li>
      <li><a href="">Contact Us</a></li>
      <li><a routerLink="/login">Login</a></li>
    </ul>
  </nav>
</header>
<!-- Header Section Start -->
<header id="header" *ngIf="isLogin">
  <a href="index.html" class="logo"><img src="../assets/img/logo.png" alt="logo"></a>
  <div class="phone"><i class="fa fa-user-circle"></i>{{USERNAME}}</div>
  <div class="mobile-menu-btn"><i class="fa fa-bars"></i></div>
  <nav class="main-menu top-menu">
    <ul>
      <li class="active"><a routerLink="/">Home</a></li>
      <li><a href="about.html">About Us</a></li>
      <li><a href="room.html">Apartments</a></li>
      <li><a href="amenities.html">Amenities</a></li>
      <li><a href="booking.html">Booking</a></li>
      <li><a href="">Contact Us</a></li>
      <li><a (click)="logOut()" style="color: #00CED1; cursor: pointer">LogOut</a></li>
    </ul>
  </nav>
</header>
