<app-navbar></app-navbar>
<div id="booking">
  <div class="container">
    <div class="section-header">
      <h2>Update My House</h2>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="booking-form">
          <div id="success"></div>
          <form  [formGroup]="houseForm" (ngSubmit)="showConfirm()">
            <div class="form-row">
              <div class="control-group col-sm-6">
                <label>Name House : </label>
                <input type="text" class="form-control"
                        formControlName="name">
                <p class="help-block text-danger"></p>
              </div>
              <div class="control-group col-sm-6">
                <label>Address</label>
                <input type="text" class="form-control"
                        formControlName="address">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="form-row">
              <div class="control-group col-sm-6">
                <label>Bedroom</label>
                <input type="text" class="form-control" formControlName="bedroom">
                <p class="help-block text-danger"></p>
              </div>
              <div class="control-group col-sm-6">
                <label>Bathroom</label>
                <input type="text" class="form-control" formControlName="bathroom">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="form-row">
              <div class="control-group col-sm-6">
                <label style="margin-top: -2px">Type</label>
                <select type="text" formControlName="categoryId"
                        style=" border-radius: 20px; padding: 5px 20px" class="form-control datetimepicker-input">
                  <option *ngFor="let category of listCategory" [value]="category.id"
                          style="background-color: #fff">{{category.name}}</option>
                </select>
                <p class="help-block text-danger"></p>
              </div>
              <div class="control-group col-sm-6">
                <label>Price</label>
                <input type="text" class="form-control datetimepicker-input"
             formControlName="price">
                <p class="help-block text-danger"></p>
              </div>
              <div class="control-group col-sm-6">
                <label style="margin-top: -2px">Status</label>
                <select type="text" formControlName="status"
                        style=" border-radius: 20px; padding: 5px 20px" class="form-control datetimepicker-input">
                  <option value="1">
                    Empty room</option>
                  <option value="1">Room was rented</option>
                  <option value="1">To be upgrading</option>
                </select>
                <p class="help-block text-danger"></p>
              </div>
              <div class="control-group col-sm-6" style=";margin-left: 486px;margin-top: -83px">
                <label>Description</label>
                <textarea class="form-control datetimepicker-input" formControlName="description"
                          style="height: 200px"></textarea>
                <p class="help-block text-danger"></p>
              </div>
              <div class="control-group col-sm-6" style="height: 235px; margin-top: -155px; overflow: auto">
                <label style="margin-right: 20px">Image: </label>
                <input type="file" id="file" #userPhoto multiple (change)="showPreview($event)" name="image"
                       autocomplete="off">
                <img *ngFor="let img of images" src="{{img.image}}" alt=""
                     style="height: 150px; width: 200px;margin-top: 15px; margin-left: 10px">
              </div>

            </div>
            <div class="form-row">
            </div>
            <div class="button" style="margin-left: 748px; margin-top: -70px;">
              <button type="submit" style="margin-left: -50px">Update</button>
              <button type="button" class="button-back" [routerLink]="['/myhouse/list']" style="margin-left: 50px">Back</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
