<!-- Header Section Start -->
<router-outlet></router-outlet>
<app-navbar></app-navbar>
<!-- Header Section End -->

<!-- Login Section Start -->
<div id="login" style="background-color: #fff">
  <div class="container">
    <div class="section-header">
      <h2>Login</h2>
    </div>
    <div class="row">
      <div class="col-9">
        <div class="login-form" style="width: 47%;margin-left: 47%">
          <form  [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="form-row">
              <div class="control-group col-sm-12">
                <label>UserName</label>
                <input type="text" class="form-control" required="required" placeholder="UserName" formControlName="username">
                <div *ngIf="username?.invalid && (username?.dirty || username?.touched)"
                     class="" style="color: red">

                  <div *ngIf="username?.errors?.['required']">
                    Username cannot be left blank!
                  </div>
                  <div *ngIf="username?.errors?.['minlength']">
                    Username has at least 6 characters, maximum 12 characters!
                  </div>
                  <div *ngIf="username?.errors?.['maxlength']">
                    Username has at least 6 characters, maximum 12 characters!
                  </div>
                </div>
              </div>
              <div class="control-group col-sm-12">
                <label>Password</label>
                <input type="password" class="form-control" required="required" placeholder="Password" formControlName="password">
                <div *ngIf="password?.invalid && (password?.dirty || password?.touched)"
                     class="" style="color: red">

                  <div *ngIf="password?.errors?.['required']">
                    Password cannot be left blank!
                  </div>
                  <div *ngIf="password?.errors?.['minlength']">
                    Password must be at least 6 characters and maximum 12 characters!
                  </div>
                  <div *ngIf="password?.errors?.['maxlength']">
                    Password must be at least 6 characters and maximum 12 characters!
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="button"><button type="submit" style="height: 37px">Login</button></div>


<!--              <asl-google-signin-button type='icon' size='large' class="button-google" (click)="signInWithGoogle()"></asl-google-signin-button>-->
<!--              <button-->
<!--                class="btn btn-social-icon btn-microsoft mx-1"-->
<!--                (click)="signInWithGoogle()">-->
<!--              </button>-->

<!--            <button-->
<!--              class="btn btn-social-icon btn-facebook mx-1"-->
<!--              (click)="signInWithFB()"-->
<!--            >-->
<!--              <span class="fab fa-facebook"></span>-->
<!--            </button>-->
            <span>Create a User Account. <a routerLink="/register" style="color: #085bf6">Create Now</a> </span>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Login Section End -->

