<app-navbar></app-navbar>
<body>
<div id="booking">
  <div class="container">
    <div class="section-header">
      <h2>Create House</h2>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="booking-form">
          <div id="success"></div>
          <form [formGroup]="houseForm" (ngSubmit)="add()">
            <div class="form-row">
              <div class="control-group col-sm-6">
                <label>Apartment Name</label>
                <input type="text" class="form-control" placeholder="Enter apartment name" required="required"
                       data-validation-required-message="Please enter apartment name" formControlName="name">
                <p class="help-block text-danger"></p>
              </div>
              <div class="control-group col-sm-6">
                <label>Address</label>
                <input type="text" class="form-control" placeholder="Enter address" required="required"
                       data-validation-required-message="Please enter address" formControlName="address">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="form-row">
              <div class="control-group col-sm-6">
                <label>Bedroom</label>
                <input type="text" class="form-control" placeholder="Number of bedrooms" required="required"
                       data-validation-required-message="Please enter number of bedrooms" formControlName="bedroom">
                <p class="help-block text-danger"></p>
              </div>
              <div class="control-group col-sm-6">
                <label>Bathroom</label>
                <input type="text" class="form-control" placeholder="Number of bathroom"
                       required="required" data-validation-required-message="Please enter number of bathroom"
                       formControlName="bathroom">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="form-row">
              <div class="control-group col-sm-6">
                <label style="margin-top: -2px">Type</label>
                <select type="text" formControlName="categoryId"
                        style=" border-radius: 20px; padding: 5px 20px" class="form-control datetimepicker-input">
                  <option *ngFor="let category of listCategories" [value]="category.id" style="background-color: #fff">{{category.name}}</option>
                </select>
                <p class="help-block text-danger"></p>
              </div>

              <div class="control-group col-sm-6">
                <label>Price</label>
                <input type="text" class="form-control datetimepicker-input" id="date-2" placeholder="Enter price"
                       required="required"
                       data-validation-required-message="Please enter price" formControlName="price">
                <p class="help-block text-danger" ></p>
              </div>
              <div class="control-group col-sm-6" style="margin-top: 30px;margin-left: 486px">
                <label>Description</label>
                <textarea class="form-control datetimepicker-input" id="date-1"
                          placeholder="Enter description" required="required"
                          data-validation-required-message="Please enter description" formControlName="description"
                          style="height: 200px; color: white"></textarea>
                <p class="help-block text-danger"></p>

              </div>

              <div class="control-group col-sm-6" style="height: 235px; margin-top: -256px; overflow: auto">
                <input type="file" id="file" #userPhoto multiple (change)="showPreview($event)" name="image" autocomplete="off">
                <img *ngFor="let img of images" src="{{img}}" alt="" style="height: 150px; width: 200px;margin-top: 15px; margin-left: 10px">
                <!-- glightbox Albums left bar END  -->
              </div>


            </div>
            <div class="form-row">
            </div>
            <div class="button">
              <button type="submit">Create</button>
              <button class="button-back" [routerLink]="['/myhouse/list']">Back</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
