body{
  background: url("../../../../assets/img/createhome.jpg");
  width: 100%;
  height: 100%;
}

.container .section-header h2{
  color: #1b1e21;
}
.form-row .control-group label{
  color: #1b1e21;
}

.form-row .control-group input{
  color: #1b1e21;
  /*border: #1b1e21;*/
}

.button {
  display: flex;
  justify-content: space-between;
}
.button-back{
  width: 100px;
  height: 50px;
}
