
<app-navbar></app-navbar>
<body>
<div id="booking">
  <div class="container">
    <div class="section-header">
      <h2>Update Profile</h2>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="booking-form">
          <div id="success"></div>
          <form [formGroup]="editForm" (ngSubmit)="editUser()">
            <div class="alert"
                 *ngIf="status.code">{{status.message}}</div>
            <div class="form-row">
              <div class="control-group col-sm-6">
                <label>Phone</label>
                <input type="text" class="form-control" formControlName="phone">
                <div *ngIf="phone?.invalid && (phone?.dirty || phone?.touched)"
                     class="" style="color: red">

                  <div *ngIf="phone?.errors?.['required']">
                    Phone cannot be left blank!
                  </div>
                  <div *ngIf="phone?.errors?.['minlength']">
                    10 digit phone number!
                  </div>
                  <div *ngIf="phone?.errors?.['maxlength']">
                    10 digit phone number!
                  </div>
                </div>
                <p class="help-block text-danger"></p>
              </div>
              <div class="control-group col-sm-6">
                <label>Email</label>
                <input type="email" class="form-control" formControlName="email">
                <div *ngIf="email?.invalid && (email?.dirty || email?.touched)"
                     class="" style="color: red">

                  <div *ngIf="email?.errors?.['required']">
                    Email cannot be left blank!
                  </div>
                  <div *ngIf="email?.errors?.['email']">
                    Email invalidate!
                  </div>
                </div>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="form-row">
              <div class="control-group col-sm-6">
                <label>Address</label>
                <input type="text" class="form-control" formControlName="address">
                <div *ngIf="address?.invalid && (address?.dirty || address?.touched)"
                     class="" style="color: red">

                  <div *ngIf="address?.errors?.['required']">
                    address cannot be left blank!
                  </div>
                  <div *ngIf="address?.errors?.['maxlength']">
                    Address up to 50 characters!
                  </div>
                </div>
                <p class="help-block text-danger"></p>
              </div>
              <div class="control-group col-sm-6">
                <label>FullName</label>
                <input type="text" class="form-control" formControlName="fullName">
                <div *ngIf="fullName?.invalid && (fullName?.dirty || fullName?.touched)"
                     class="" style="color: red">

                  <div *ngIf="fullName?.errors?.['required']">
                    FullName cannot be left blank!
                  </div>
                  <div *ngIf="fullName?.errors?.['maxlength']">
                    FullName up to 35 characters!
                  </div>
                </div>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="form-row">
              <label>Avatar: </label>
              <input class="img-file" type="file" id="file" #userPhoto (change)="onFileSelected($event)" name="image"
                     autocomplete="off"/>
              <div class="profile-pic">
                <label class="-label" for="file">
                  <span class="glyphicon glyphicon-camera"></span>
                  <span>Change Image</span>
                </label>
                <input id="file" type="file" onchange="loadFile(event)"/>
                <img src="{{avatar}}" id="output" width="200" />
              </div>
            <div class="button" style="margin-left: 245px">
              <button type="submit">Save</button>
              <button class="button-back" [routerLink]="['/']" style="margin-left: 35px">Cancel</button>
            </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
</body>
