<!-- Header Section Start -->
<router-outlet></router-outlet>
<app-navbar></app-navbar>
<!-- Header Section End -->

<!-- Login Section Start -->
<div id="login">
  <div class="container">
    <div class="section-header">
      <h2>Register</h2>
<!--      <p>-->
<!--        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in mi libero. Quisque convallis, enim at venenatis tincidunt.-->
<!--      </p>-->
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="login-form" style="width: 78%;margin-left: 65%">
          <form [formGroup]="registerForm" (ngSubmit)="register()">
            <div class="form-row">
              <div class="control-group col-sm-12">
                <label>UserName</label>
                <input type="text" class="form-control" required="required" placeholder="UserName" formControlName="username">
              </div>
              <div class="control-group col-sm-12">
                <label>Phone Number</label>
                <input type="text" class="form-control" required="required" placeholder="Your Phone" formControlName="phone">
              </div>
            </div>
            <div class="form-row">
              <div class="control-group col-sm-12">
                <label>Your Password</label>
                <input type="password" class="form-control" required="required"  placeholder="Password" formControlName="password">
              </div>
              <div class="control-group col-sm-12">
                <label>Repeat Your Password</label>
                <input type="password" class="form-control" required="required"  placeholder="Repeat Password" formControlName="confirmPassword">
              </div>
            </div>
            <div class="button"><button type="submit">Registration</button></div>
            <span>Do you already have an account. <a routerLink="/login" style="color: #666">Login now</a> </span>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Login Section End -->

<!-- Footer Section Start -->
<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="social">
          <a href="https://www.freewebsitecode.com/"><li class="fa fa-instagram"></li></a>
          <a href="https://www.facebook.com/freewebsitecode/"><li class="fa fa-facebook-f"></li></a>
          <a href="https://www.freewebsitecode.com/"><li class="fa fa-twitter"></li></a>
          <a href="https://www.youtube.com/channel/UC9HlQRmKgG3jeVD_fBxj1Pw/videos"><li class="fa fa-youtube"></li></a>
        </div>
      </div>
      <div class="col-12">
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">About</a></li>
          <li><a href="">Terms</a></li>
          <li><a href="">Contact</a></li>
        </ul>
      </div>
      <div class="col-12">
        <p>&copy; Copyright <a href="https://freewebsitecode.com/">Your Site Name</a>. All Rights Reserved</p>

      </div>
    </div>
  </div>
</div>
<!-- Footer Section End -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
