<!-- Header Section Start -->
<router-outlet></router-outlet>
<app-navbar></app-navbar>
<!-- Header Section End -->

<!-- Login Section Start -->
<div id="login">
  <div class="container">
    <div class="section-header">
      <h2>Register</h2>
      <!--      <p>-->
      <!--        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in mi libero. Quisque convallis, enim at venenatis tincidunt.-->
      <!--      </p>-->
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="login-form" style="width: 78%;margin-left: 65%">
          <form [formGroup]="registerForm" (ngSubmit)="register()">
            <div class="alert " [ngClass]="status.code === '0000' ? 'alert-info' : 'alert-danger'"
                 *ngIf="status.code">{{status.message}}</div>
            <div class="form-row">
              <div class="control-group col-sm-12">
                <label>UserName</label>
                <input type="text" class="form-control" required="required" placeholder="UserName"
                       formControlName="username">
                <div *ngIf="username?.invalid && (username?.dirty || username?.touched)"
                     class="" style="color: red">

                  <div *ngIf="username?.errors?.['required']">
                    Username cannot be left blank!
                  </div>
                  <div *ngIf="username?.errors?.['minlength']">
                    Username must have at least 6 characters, maximum 12 characters!
                  </div>
                  <div *ngIf="username?.errors?.['maxlength']">
                    Username must have at least 6 characters, maximum 12 characters!
                  </div>
                </div>
              </div>
              <div class="control-group col-sm-12">
                <label>Phone Number</label>
                <input type="text" class="form-control" required="required" placeholder="Your Phone"
                       formControlName="phone">
                <div *ngIf="phone?.invalid && (phone?.dirty || phone?.touched)"
                     class="" style="color: red">

                  <div *ngIf="phone?.errors?.['required']">
                    Phone cannot be left blank!
                  </div>
                  <div *ngIf="phone?.errors?.['minlength']">
                    10 digit phone number!
                  </div>
                  <div *ngIf="phone?.errors?.['maxlength']">
                    10 digit phone number!
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="control-group col-sm-12">
                <label>Your Password</label>
                <input type="password" class="form-control" required="required" placeholder="Password"
                       formControlName="password">
                <div *ngIf="password?.invalid && (password?.dirty || password?.touched)"
                     class="" style="color: red">

                  <div *ngIf="password?.errors?.['required']">
                    Password cannot be left blank!
                  </div>
                  <div *ngIf="password?.errors?.['minlength']">
                    Password must have at least 6 characters, maximum 12 characters!
                  </div>
                  <div *ngIf="password?.errors?.['maxlength']">
                    Password must have at least 6 characters, maximum 12 characters!
                  </div>
                </div>
              </div>
              <div class="control-group col-sm-12">
                <label>Repeat Your Password</label>
                <input type="password" class="form-control" required="required" placeholder="Repeat Password"
                       formControlName="confirmPassword">
                <div *ngIf="confirmPassword?.invalid && (confirmPassword?.dirty || confirmPassword?.touched)"
                     class="" style="color: red">

                  <div *ngIf="confirmPassword?.errors?.['required']">
                    Password cannot be left blank!
                  </div>
                  <div *ngIf="confirmPassword?.errors?.['minlength']">
                    Password must have at least 6 characters, maximum 12 characters!
                  </div>
                  <div *ngIf="confirmPassword?.errors?.['maxlength']">
                    Password must have at least 6 characters, maximum 12 characters!
                  </div>
                </div>
              </div>
            </div>
            <div class="button">
              <button type="submit" style="height: 37px">Register</button>
            </div>
            <span>Do you already have an account. <a routerLink="/login" style="color: #666">Login now</a> </span>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Login Section End -->

<!-- Footer Section Start -->
<!--<div id="footer">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-12">-->
<!--        <div class="social">-->
<!--          <a href="https://www.freewebsitecode.com/">-->
<!--            <li class="fa fa-instagram"></li>-->
<!--          </a>-->
<!--          <a href="https://www.facebook.com/freewebsitecode/">-->
<!--            <li class="fa fa-facebook-f"></li>-->
<!--          </a>-->
<!--          <a href="https://www.freewebsitecode.com/">-->
<!--            <li class="fa fa-twitter"></li>-->
<!--          </a>-->
<!--          <a href="https://www.youtube.com/channel/UC9HlQRmKgG3jeVD_fBxj1Pw/videos">-->
<!--            <li class="fa fa-youtube"></li>-->
<!--          </a>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-12">-->
<!--        <ul>-->
<!--          <li><a href="">Home</a></li>-->
<!--          <li><a href="">About</a></li>-->
<!--          <li><a href="">Terms</a></li>-->
<!--          <li><a href="">Contact</a></li>-->
<!--        </ul>-->
<!--      </div>-->
<!--      <div class="col-12">-->

<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<app-fotter></app-fotter>
<!-- Footer Section End -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
