<p>update-password works!</p>
<div style="background-color: darkgrey; height: 600px; padding: 80px;" >
  <div style="margin-left: 200px">
    <form [formGroup]="editForm" (ngSubmit)="editPass()" >
      <p>
        <label >Enter OldPassword: </label>
        <input type="text" id="phone"  formControlName="oldPassword" class="form-control">
      </p>
      <p>
        <label >Enter NewPassword: </label>
        <input type="text" id="email"  formControlName="newPassword" class="form-control">
      </p>
      <p>
        <label >Confirm Password: </label>
        <input type="text" id="address"  formControlName="confirmPassword" class="form-control">
      </p>
      <p>
        <button type="submit" class="btn btn-primary">Save</button>
        <button class="btn btn-danger" routerLink="/">Cancel</button>
      </p>
    </form>
  </div>
</div>
