
<app-navbar></app-navbar>
<body>
<div id="booking">
  <div class="container">
    <div class="section-header">
      <h2>Password Change</h2>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="booking-form">
          <div id="success"></div>
          <form [formGroup]="editForm" (ngSubmit)="editPassword()" style="margin-left: 29%">
            <div class="alert alert-danger"
                 *ngIf="status.code">{{status.message}}</div>
            <div class="form-row">
              <div class="control-group col-sm-6">
                <label>Enter OldPassword</label>
                <input type="password" class="form-control" formControlName="oldPassword">
                <div *ngIf="oldPassword?.invalid && (oldPassword?.dirty || oldPassword?.touched)"
                     class="" style="color: red">

                  <div *ngIf="oldPassword?.errors?.['required']">
                    oldPassword cannot be left blank!
                  </div>
                  <div *ngIf="oldPassword?.errors?.['minlength']">
                    Password at least 6 characters!
                  </div>
                  <div *ngIf="oldPassword?.errors?.['maxlength']">
                    Password maximum 12 characters!
                  </div>
                </div>
                <p class="help-block text-danger"></p>
              </div>
              <div class="control-group col-sm-6" style="margin-left: 1px">
                <label>Enter NewPassword</label>
                <input type="password" class="form-control" formControlName="password">
                <div *ngIf="password?.invalid && (password?.dirty || password?.touched)"
                     class="" style="color: red">

                  <div *ngIf="password?.errors?.['required']">
                    password cannot be left blank!
                  </div>
                  <div *ngIf="password?.errors?.['minlength']">
                    Password at least 6 characters!
                  </div>
                  <div *ngIf="password?.errors?.['maxlength']">
                    Password maximum 12 characters!
                  </div>
                </div>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="form-row">
              <div class="control-group col-sm-6">
                <label>Confirm Password</label>
                <input type="password" class="form-control" formControlName="confirmPassword">
                <div *ngIf="confirmPassword?.invalid && (confirmPassword?.dirty || confirmPassword?.touched)"
                     class="" style="color: red">

                  <div *ngIf="confirmPassword?.errors?.['required']">
                    confirmPassword cannot be left blank!
                  </div>
                  <div *ngIf="confirmPassword?.errors?.['minlength']">
                    Password at least 6 characters!
                  </div>
                  <div *ngIf="confirmPassword?.errors?.['maxlength']">
                    Password maximum 12 characters!
                  </div>
                </div>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="button">
              <button type="submit">Save</button>
              <button class="button-back" [routerLink]="['/']" style="margin-left: 35px">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
